In [1]:
import pandas as pd

df = pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';',encoding='utf-8')
df

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,499535,Sadovoye,Sadovoye,"Sadovoe,Sadovoje,Sadovoye,Sadowoje,Садовое",P,PPL,RU,Russian Federation,NaN,24,NaN,NaN,NaN,6333,NaN,33,Europe/Moscow,2012-01-17,Russian Federation,"47.7772, 44.5208"
1,503682,Putyatino,Putyatino,"Putjanino,Putjatino,Putyatino,Путянино,Путятино",P,PPL,RU,Russian Federation,NaN,62,NaN,NaN,NaN,3044,NaN,128,Europe/Moscow,2019-08-31,Russian Federation,"54.15998, 41.1169"
2,504576,Protvino,Protvino,"Protvino,Protwino,brwtfynw,prwtwynw,pu luo te ...",P,PPL,RU,Russian Federation,NaN,47,NaN,NaN,NaN,37329,NaN,134,Europe/Moscow,2012-02-28,Russian Federation,"54.86821, 37.21583"
3,505256,Primorka,Primorka,"Kosa Kuryacha,Primorka,Primorskoye,Приморка",P,PPL,RU,Russian Federation,NaN,61,NaN,NaN,NaN,3780,NaN,24,Europe/Moscow,2012-01-17,Russian Federation,"47.28395, 39.06408"
4,505269,Primorsk,Primorsk,"B'yerke,Bjoerkoe,Bjorko,Björkö,B’yërkë,Koivist...",P,PPL,RU,Russian Federation,NaN,42,NaN,NaN,NaN,5107,NaN,-9999,Europe/Moscow,2019-11-20,Russian Federation,"60.36622, 28.60615"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140933,8474041,Thị Trấn Vinh Quang,Thi Tran Vinh Quang,"Thi Tran Vinh Quang,Thị Trấn Vinh Quang",P,PPLA2,VN,Viet Nam,NaN,50,NaN,NaN,NaN,0,NaN,470,Asia/Bangkok,2013-03-06,Viet Nam,"22.74085, 104.67956"
140934,8554539,Nam Giang,Nam Giang,Nam Giang,P,PPLA2,VN,Viet Nam,NaN,82,NaN,NaN,NaN,0,NaN,6,Asia/Bangkok,2015-07-04,Viet Nam,"20.33322, 106.17754"
140935,8616113,Cầu Giấy,Cau Giay,"Cau Giay,Cầu Giấy",P,PPLA2,VN,Viet Nam,NaN,44,NaN,NaN,NaN,0,NaN,12,Asia/Bangkok,2019-10-11,Viet Nam,"21.03228, 105.80073"
140936,8725113,Krông Kmar,Krong Kmar,"Krong Kmar,Krông Kmar",P,PPLA2,VN,Viet Nam,NaN,88,NaN,NaN,NaN,0,NaN,464,Asia/Ho_Chi_Minh,2014-03-11,Viet Nam,"12.5045, 108.33288"
140937,8991425,Thạnh Mỹ,Thanh My,"Thanh My,Thạnh Mỹ",P,PPLA2,VN,Viet Nam,NaN,23,NaN,NaN,NaN,0,NaN,1014,Asia/Ho_Chi_Minh,2014-05-01,Viet Nam,"11.76165, 108.49473"

In [2]:
df.rename(columns={
               'Country Code':'Country_Code',
               'Country name EN':'Country_name_EN'}
    )

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country_Code,Country_name_EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,499535,Sadovoye,Sadovoye,"Sadovoe,Sadovoje,Sadovoye,Sadowoje,Садовое",P,PPL,RU,Russian Federation,NaN,24,NaN,NaN,NaN,6333,NaN,33,Europe/Moscow,2012-01-17,Russian Federation,"47.7772, 44.5208"
1,503682,Putyatino,Putyatino,"Putjanino,Putjatino,Putyatino,Путянино,Путятино",P,PPL,RU,Russian Federation,NaN,62,NaN,NaN,NaN,3044,NaN,128,Europe/Moscow,2019-08-31,Russian Federation,"54.15998, 41.1169"
2,504576,Protvino,Protvino,"Protvino,Protwino,brwtfynw,prwtwynw,pu luo te ...",P,PPL,RU,Russian Federation,NaN,47,NaN,NaN,NaN,37329,NaN,134,Europe/Moscow,2012-02-28,Russian Federation,"54.86821, 37.21583"
3,505256,Primorka,Primorka,"Kosa Kuryacha,Primorka,Primorskoye,Приморка",P,PPL,RU,Russian Federation,NaN,61,NaN,NaN,NaN,3780,NaN,24,Europe/Moscow,2012-01-17,Russian Federation,"47.28395, 39.06408"
4,505269,Primorsk,Primorsk,"B'yerke,Bjoerkoe,Bjorko,Björkö,B’yërkë,Koivist...",P,PPL,RU,Russian Federation,NaN,42,NaN,NaN,NaN,5107,NaN,-9999,Europe/Moscow,2019-11-20,Russian Federation,"60.36622, 28.60615"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140933,8474041,Thị Trấn Vinh Quang,Thi Tran Vinh Quang,"Thi Tran Vinh Quang,Thị Trấn Vinh Quang",P,PPLA2,VN,Viet Nam,NaN,50,NaN,NaN,NaN,0,NaN,470,Asia/Bangkok,2013-03-06,Viet Nam,"22.74085, 104.67956"
140934,8554539,Nam Giang,Nam Giang,Nam Giang,P,PPLA2,VN,Viet Nam,NaN,82,NaN,NaN,NaN,0,NaN,6,Asia/Bangkok,2015-07-04,Viet Nam,"20.33322, 106.17754"
140935,8616113,Cầu Giấy,Cau Giay,"Cau Giay,Cầu Giấy",P,PPLA2,VN,Viet Nam,NaN,44,NaN,NaN,NaN,0,NaN,12,Asia/Bangkok,2019-10-11,Viet Nam,"21.03228, 105.80073"
140936,8725113,Krông Kmar,Krong Kmar,"Krong Kmar,Krông Kmar",P,PPLA2,VN,Viet Nam,NaN,88,NaN,NaN,NaN,0,NaN,464,Asia/Ho_Chi_Minh,2014-03-11,Viet Nam,"12.5045, 108.33288"
140937,8991425,Thạnh Mỹ,Thanh My,"Thanh My,Thạnh Mỹ",P,PPLA2,VN,Viet Nam,NaN,23,NaN,NaN,NaN,0,NaN,1014,Asia/Ho_Chi_Minh,2014-05-01,Viet Nam,"11.76165, 108.49473"

In [3]:
new_df = df.iloc[:, [1, 6, 7, 13]]  

new_df.to_csv('new_table.csv', index=False,encoding='utf-8')

In [4]:
df2 = pd.read_csv('new_table.csv',encoding='utf-8')

df2

                       Name Country Code     Country name EN  Population
0                  Sadovoye           RU  Russian Federation        6333
1                 Putyatino           RU  Russian Federation        3044
2                  Protvino           RU  Russian Federation       37329
3                  Primorka           RU  Russian Federation        3780
4                  Primorsk           RU  Russian Federation        5107
...                     ...          ...                 ...         ...
140933  Thị Trấn Vinh Quang           VN            Viet Nam           0
140934            Nam Giang           VN            Viet Nam           0
140935             Cầu Giấy           VN            Viet Nam           0
140936           Krông Kmar           VN            Viet Nam           0
140937             Thạnh Mỹ           VN            Viet Nam           0

[140938 rows x 4 columns]

In [5]:
import csv
import sqlite3
#Connecting to the database
conn = sqlite3.connect('cities.db')
cursor = conn.cursor()

# Creating a city table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS cities (
        country_code TEXT,
        country_name TEXT,
        city_name TEXT,
        population INTEGER
    )
''')

with open('new_table.csv', 'r', encoding='utf-8') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the title line
    for row in reader:
        country_code = row[1]
        country_name = row[2]
        city_name = row[0]
        population = int(row[3])

        cursor.execute('''
            INSERT INTO cities (country_code, country_name, city_name, population)
            VALUES (?, ?, ?, ?)
        ''', (country_code, country_name, city_name, population))

# Submit and close the connection
conn.commit()
conn.close()

In [6]:
import csv
import sqlite3

# Connecting to the database
conn = sqlite3.connect('cities.db')
cursor = conn.cursor()

# Execute SQL queries and store the results in a DataFrame
query = "SELECT country_code, country_name FROM (SELECT country_code, country_name, MAX(population) AS max_population FROM cities GROUP BY country_code, country_name) WHERE max_population < 10000000 ORDER BY country_name ASC"
df = pd.read_sql_query(query, conn)

# Save the DataFrame as a CSV file
df.to_csv('result.csv', index=False,encoding='utf-8')

conn.close()

In [7]:
result = pd.read_csv('result.csv',encoding='utf-8')

result

    country_code              country_name
0             AQ                       NaN
1             AX                       NaN
2             BL                       NaN
3             BQ                       NaN
4             CC                       NaN
..           ...                       ...
231           PS  West Bank and Gaza Strip
232           EH            Western Sahara
233           YE                     Yemen
234           ZM                    Zambia
235           ZW                  Zimbabwe

[236 rows x 2 columns]